.status {
  color: rgb(223, 183, 3);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.status2 {
  color: rgba(72, 173, 102, 0.87);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
table {
  border-collapse: collapse;
}
table,
tr,
th,
td {
  border: none;
  text-align: left;
}
th,
td {
  padding: 25px;
}
caption {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  color: gray;
  font-weight: 300;
}
ul {
  width: 120%;
}
.info {
  color: gray;
  font-size: 12px;
  padding-top: 5px;
}
img {
  display: block;
}

.td1 {
  display: flex;
  gap: 15px;
  width: 300px;
}

.user {
  width: 180px;
}

.close {
  color: red;
}
