* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  align-items: center;
  background-image: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  color: rgb(87, 85, 85);
  font-weight: 700;
  height: 3000px;
}
h1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  font-family: "Bungee Inline", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: 100%;
  padding-bottom: 15px;
  border-radius: 4px;
}
button {
  border: none;
}
.nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}
.container {
  margin: auto;
  text-align: center;
}
.title {
  padding-top: 30px;
}
.menu {
  display: flex;
  gap: 10px;
}

.item-list {
  padding-top: 20px;
  width: 1200px;
  margin: auto;
}

.item {
  width: 1200px;
  height: 250px;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.616);
  align-items: center;
  justify-content: space-between;
  padding-right: 120px;
  border: 3px solid #5cc2a7b7;
  border-radius: 6px;
}

.item-info {
  padding-top: 30px;
  text-align: left;
}
.description {
  padding-top: 20px;
}
.total {
  display: flex;
  padding-top: 20px;
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  text-align: left;
}
.sub,
.tax,
.total-cost {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-bottom: 30px;
  font-size: 120%;
}
.total-cost {
  font-weight: 900;
}

input {
  height: 55px;
  width: 400px;
  border: solid #16cc9b;
  outline: none;
}
.input-code {
  display: flex;
  padding-top: 20px;
}
.enter-btn button {
  height: 55px;
  background-color: #16cc9b;
  width: 90px;
  font-size: larger;
  color: white;
  font-weight: 900;
}

.info {
  display: flex;
}

.description,
.price {
  padding-top: 35px;
}

.thumbnail {
  width: 200px;
  height: 200px;
  margin-left: 25px;
  margin-right: 25px;
}
.item-name,
.price {
  font-size: 21px;
  font-weight: 700;
}

.delBtn {
  opacity: 0;
  transform: scale(2);
  background-color: white;
}
.item:hover .delBtn {
  opacity: 1;
  transition: all 0.5s ease-in;
}

.item:hover,
.info {
  transition: all 0.2s ease-in;
  /* background-color: rgba(253, 255, 254, 0.582); */
  transform: scale(1.008);
}

.item:hover .info {
  transform: scale(1.01);
  transition: all 0.5s ease-in;
}

input {
  transition: all 0.25s linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.quantity > input {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  left: calc(50% - 53px);
  background: #fff;
  border: 2px solid #ddd;
  text-align: center;
  font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity > input:hover,
.quantity > input:focus {
  border-color: #f58551;
  transform: scale(1.3);
}
