* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
image {
  width: 365px;
}
.container {
  font-size: 40px;
  font-weight: 700;
}
.name-tag {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.type-plat {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.card-container {
  color: white;
  width: 365px;
  background-color: #4b4e50;
  border-radius: 5px;
  margin-top: 20px;
  height: 360px;
}
.name {
  font-weight: 700;
  font-size: 20px;
}
.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.shortDes {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
.tag {
  width: 45px;
  height: 15px;
  background-color: rgb(94, 151, 238);
  border-radius: 2px;
}
