* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.795);
}

.navigation {
  display: flex;
  margin-left: 31px;
}
.menu {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  gap: 45px;
  padding-left: 155px;
  padding-bottom: 4px;
  padding-top: 57px;
}
.home-page {
  max-width: 110px;
  padding-left: 8px;
}

.banner {
  background: url(../images/leaf.png) no-repeat left center/12.5%;
  padding: 8% 0;
  margin-top: 5px;
}

.thumbnail1 {
  width: 43.4%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.introduce {
  padding-left: 35px;
  margin-top: 0;
  width: 600px;
}

.title {
  color: #e83e8dcc;
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 25px;
  width: 300px;
}

.slogan {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 25px;
}

.description {
  color: #343a40b4;
  line-height: 1.6;
  width: 500px;
}
.button {
  display: flex;
  padding-left: 30px;
  padding-top: 50px;
  gap: 40px;
  font-size: 13px;
  color: #343a40b4;
}
.reserve-btn {
  color: white;
  background-color: #ec6875;
  width: 170px;
  height: 50px;
  text-align: center;
  padding-top: 18px;
  font-weight: 600;
  transition: linear 0.2s;
}
.watch {
  margin-top: 18px;
  font-weight: 600;
  transition: linear 0.2s;
}
.reserve-btn:hover {
  color: black;
}
.watch:hover {
  color: #ec6875;
}

.about {
  background: url(../images/china-rose.png), url(../images/jasmine.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: 150px, 800px;
  background-position-y: 0px, 200px;
  text-align: center;
}

.thumbnail2 {
  display: flex;
}
.flower {
  padding-left: 150px;
  padding-top: 20px;
}

.butter {
  padding-top: 30px;
  margin: auto;
  width: 90px;
}

.title1 {
  padding-top: 45px;
  font-weight: 600;
  color: #343a40b4;
}

.slogan1 {
  padding-top: 20px;
  font-weight: 700;
  font-size: 45px;
}
.description1 {
  padding-top: 35px;
  display: block;
  width: 820px;
  margin: auto;
  line-height: 1.6;
  color: #343a40b4;
}
.read-btn {
  margin: auto;
  margin-top: 50px;
  background-color: #ec6875;
  width: 170px;
  height: 50px;
  padding-top: 15px;
  border-radius: 25px;
}

.services {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.img1,
.img2,
.img3,
.img4 {
  width: 248px;
  position: absolute;
}

.service1,
.service2,
.service3,
.service4 {
  width: 248px;
  position: relative;
  transition: transform 0.5s linear;
}

.service1:hover.icon1+ .icon1 {
  display: block;
}

.icon1 {
  display: none;
  background-color: #ec6875;
  position: relative;
  width: 248px;
  height: 300.969px;
  align-items: center;
  transition: opacity 0.5s linear;
}
