* {
  margin: 0;
  padding: 0;
  /* kích thước box đã tính cả boder */
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
/* Tip CSS cho hình ảnh, luôn dùng */
img {
  max-width: 100%;
  vertical-align: middle;
  padding-bottom: 15px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.postlist {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.post {
  width: 295px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  height: 340px;
}

.post-content {
  padding: 5px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9rem;
  line-height: 1.5;
}

.post-title {
  font-size: 1.2rem;
}

.post-status {
  padding-top: 15px;
  color: gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.footer {
  background-color: #30598c;
  color: white;
  font-size: 14px;
  padding-bottom: 65px;
  margin-top: 25px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 947px;
  margin: auto;
  padding-top: 40px;
  line-height: 2.5;
}

.row1 {
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.row2 {
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.row3 {
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.row4 {
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: white;
}

.footer h4 {
  font-size: 18px;
  font-weight: 400;
}

.fa {
  padding: 7px;
  width: 29px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
.fa-facebook,
.fa-youtube-play,
.fa-github {
  background: #fbfcfd;
  color: #30598c;
}
.fa:hover {
  opacity: 0.7;
}

.icon {
  display: flex;
}

.facebook,
.youtube,
.github {
  padding-top: 10px;
  padding-right: 23px;
}
