* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
a {
  text-decoration: none;
  color: #757575;
}

ul {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: azure;
  color: #757575;
}

.page {
  background-color: rgb(153, 6, 6);
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding-left: 100px;
}

.menu {
  background-color: #fff;
  left: 0;
  width: 200px;
}

.menu-item {
  background-color: #fff;
  width: 200px;
  position: relative;
}

.menu-item,
.menu-item2 {
  background-color: #fff;
  width: 200px;
  position: relative;
}

.menu-item p {
  padding-left: 8px;
  padding-right: 8px;
  height: 30.88px;
  text-decoration: none;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item p .icon {
  display: none;
}

.menu-item:hover > p,
.menu-item:hover > p a,
.menu-item2:hover > p,
.menu-item2:hover > p a {
  color: chocolate;
}

.menu-item:hover > p .icon,
.menu-item:hover > p .icon,
.menu-item2:hover > p .icon,
.menu-item2:hover > p .icon {
  display: inline-block;
  color: chocolate;
}

.sub-menu1 {
  background-color: #fff;
  width: 200px;
  position: absolute;
  top: 0;
  left: 200px;
  display: none;
  height: 100%;
}

.sub-menu2 {
  background-color: #fff;
  width: 200px;
  position: absolute;
  top: 0;
  left: 200px;
  display: none;
  height: 100%;
}

.menu-item:hover .sub-menu1 {
  display: block;
}

.menu-item2:hover .sub-menu2 {
  display: block;
}
